<section class="why-using bg-blue-light pb-48">
  <div class="hfb-container">
    <h2 class="text-center text-32 mb-48">Why use HashXBF ?</h2>
    <div class="flex flex-wrap lg:px-40">
      <div class="w-1/2 flex mb-32 px-16">
        <i class="icon icon-refresh"></i>
        <div>
          <h3 class="mb-16">
            Automated system
          </h3>
          <p>
            HashXBF is completely automated which is one of the main reasons we can provide such effective services at such a cheap rate.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex mb-32 px-16">
        <i class=""></i>
        <div>
          <h3 class="mb-16">
            100% anonymous
          </h3>
          <p>
            We understand the need for anonymity in a business like ours. We therefore wipe our server log every day and use unlocking codes instead of direct payments.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex mb-32 px-16">
        <i class=""></i>
        <div>
          <h3 class="mb-16">
            High success rate
          </h3>
          <p>
              We're the only provider (as far as we're aware) to use raw socket requests to fetch query results from Facebook's servers. This in fact means that we're able to hack 4 out of 5 Facebook accounts.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex mb-32 px-16">
        <i class=""></i>
        <div>
          <h3 class="mb-16">
            Simple to use
          </h3>
          <p>
            We keep our algorithms in the backend and present you with an interface that is simple to use. Still in doubt about what to do? Check out our video tutorial and read our FAQ.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex mb-32 px-16">
        <i class=""></i>
        <div>
          <h3 class="mb-16">
            Don't pay until the account is hacked
          </h3>
          <p>
            Since we're not able to hack every single account (and in some cases refuse to, as we've explain in our FAQ), we only ask you to make a payment after we've successfully hacked the requested account.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex mb-32 px-16">
        <i class=""></i>
        <div>
          <h3 class="mb-16">
            Our reputation
          </h3>
          <p>
            Lots of sites in the Facebook hacking industry come and go every few months. Indeed, most of thems are in fact scams that not only are unable to hack accounts but also steal your money. We on the other hand, have been in business since 2015 and have been mentioned by various news outlets.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
