<section class="why-using bg-blue-light">
  <div class="hfb-container">
    <h2 class="text-center text-32">Why use HashXBF ?</h2>
    <div class="flex flex-wrap">
      <div class="w-1/2 flex">
        <i class=""></i>
        <div>
          <h3>
            Automated system
          </h3>
          <p>
            HashXBF is completely automated which is one of the main reasons we can provide such effective services at such a cheap rate.
          </p>
        </div>
      </div>
      <div class="w-1/2 flex">
        <i class=""></i>
        <div>
          <h3>
            100% anonymous
          </h3>
          <p>
            We understand the need for anonymity in a business like ours. We therefore wipe our server log every day and use unlocking codes instead of direct payments.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
