<div classs="">
  <div class="hfb-container lg:pt-96">
    <form class="bg-white rounded-lg">
      <div class="wizard-header">
          <h2 class="text-30 text-center">Hack a Facebook account</h2>
          <p class="text-18 text-center mt-8">Our interactive hacker will guide your through the process</p>
      </div>
      <div class="wizard-navigation">
        <ul class="list-reset flex">
          <li class="active">
            <a href="#captcha-tab">Captcha</a>
          </li>
          <li class="">
            <a href="#target-tab">Profile URL</a>
          </li>
          <li class="">
            <a href="#profile-info-tab">Scanner</a>
          </li>
          <li>
            <a href="#hacking-tab">Hacker</a>
          </li>
          <li>
            <a href="#result-tab">Login details</a>
          </li>
        </ul>
      </div>
      <div class="text-center stepLoader">
          <i class="fa fa-spin fa-refresh"></i>
       </div>
       <div class="tab-content">
         <div class="tab-pane" id="captcha-tab">
            <h3 class="text-18">Let's get started!</h3>
            <p class="text-14 mt-32">
                In order to stop automated bots from using our service, please prove that you are a human by entering the characters in the text box below.
            </p>
            <img class="wizard-card__captcha" src="https://www.siczine.com/content/hbox/img/captcha/7.gif">
            <div class="">
                <label>Enter the letters of the picture</label>
                <input name="captcha_input" type="text">
             </div>
         </div>
         <div class="tab-pane active" id="target-tab">
            <h3 class="text-18 mt-10">Enter the target profile URL</h3>
            <img src="https://www.siczine.com/content/hbox/img/fb/id.gif" class="mt-32"/>
            <div class="">
                <label>Facebook username</label>
                <input name="captcha_input" type="text">
             </div>
         </div>
         <div class="tab-pane" id="profile-info-tab">
            profile-info-tab
         </div>
         <div class="tab-pane" id="hacking-tab">
            hacking-tab
         </div>
         <div class="tab-pane" id="result-tab">
            result-tab
         </div>
       </div>
       <div class="wizard-footer flex">
         <button class="prev">
            Previous
         </button>
         <button class="next">
            Next
         </button>
       </div>
    </form>
  </div>
</div>
