<nav class="nav" [ngClass]="{'nav--show': stateMenu == true }">
  <ul class="list-reset">
    <li class="">
      <a href="/" class="no-underline text-white">
        Home
      </a>
    </li>
    <li class="">
      <a href="/" class="no-underline text-white">
        Blog
      </a>
    </li>
    <li class="">
      <a href="/" class="no-underline text-white">
        About
      </a>
    </li>
    <li>
      <a href="/" class="no-underline text-white">
        Contact
      </a>
    </li>
  </ul>
</nav>
