<section class="video-tutorial" id="video-tutorial">
  <div class="hfb-container flex flex-wrap">
    <div class="w-full lg:w-6/12 px-24 lg:px-0 lg:pr-48">
      <h2 class="text-32">Confused? Watch our video tutorial!</h2>
      <p class="mt-40">Even though using HashXFB is incredibly simple, we've made a video guide that shows exactly how it's done!s</p>
    </div>
    <div class="w-full lg:w-6/12 mt-40 lg:mt-0 px-10 lg:px-0">
      <iframe class="w-full" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
  </div>
</section>
